@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Mono:wght@700&family=Ubuntu:wght@300;400&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font: normal 300 16px "Ubuntu", Arial, Helvetica, sans-serif;
    background: #F4F4F4;
}

p, ul, ol {
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.5em;
    text-shadow: 0 0 2px hsla(0, 0%, 0%, 0.25);
    color: #363636;
}

h4, summary {
    font-size: 1.6em;
}

summary {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
}

summary::before {
    content: "\2192";
    margin-right: 5px;
}

summary:hover {
    text-decoration: underline;
}

a, abbr {
    text-decoration: none;
}

article a {
    color: black;
    font-weight: bold;
    text-shadow: none;
}

article a:hover {
    text-decoration: underline;
}

address {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
}

hr {
    box-sizing: border-box;
    height: 1px;
    border-style: solid;
    border-top: 0;
}

article ul {
    margin-top: 10px;
    padding-left: 30px;
}