@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Mono:wght@700&family=Ubuntu:wght@300&display=swap');

/* Reset */

html,
body {
    margin: 0;
    padding: 0;
    font: normal 400 16px "Ubuntu", Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

/* Classes funcionais */

.resize {
    max-width: 1366px;
    margin: auto;
}

.center {
    text-align: center;
}


/* Layout */

.header {
    background-color: #9177F2;
    padding: 29px 98px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img#logo {
    margin-right: 20px;
}

#name {
    display: flex;
    align-items: center;
}

#name h1 {
    display: inline-block;
}

.menubar a {
    margin-right: 98px;
}

.menubar a:last-child {
    margin: 0;
}

#checkbox-menu, #hamburger, .line {
    display: none;
}

article {
    padding: 25px;
}

article ul {
    padding-left: 45px;
}

.text-box {
    max-width: 740px;
}

.text-box p,
.text-box-sec p {
    margin-top: 15px;
}

.text-box p.first,
.text-box-sec p.first {
    margin-top: 0px;
}

.topic {
    padding: 25px;
}

.colored-bg {
    background-color: #9AD0FF;
}

.text-box-sec {
    max-width: 670px;
    padding-bottom: 50px;
}

.topic .resize {
    display: flex;
}

.img-right {
    height: 270px;
    margin-left: 300px;
    align-self: center;
}


/* Formatações Gerais */

body {
    background: #F4F4F4;
}

#name h1 {
    font-family: "Raleway";
    font-size: 1.5em;
    font-weight: 500;
}

.menubar a {
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
}

.title,
.subtitle {
    font: normal 700 2em "Roboto Mono";
    text-transform: uppercase;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 1.8em;
    margin-bottom: 30px;
    margin-top: 30px;
}

.subtitle::before {
    content: '// '
}

.to-tag::before {
    content: '<';
    margin: 5px;
}

.to-tag::after {
    content: '/>';
    margin: 5px;
}

main p,
article ul {
    font-size: 1.3em;
    line-height: 1.5em;
    text-shadow: 0 0 2px hsla(0, 0%, 0%, 0.25);
    color: #363636;
    text-indent: 1em;
}

article ul {
    margin-top: 10px;
}


/* Background */

article {
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center right;
}


/* Animações */

.menubar a {
    transition: 0.5s;
}

.menubar a:hover {
    transition: 0.4s;
    font-size: 1.75em;
    text-decoration: underline;
}

/* Portatibilidade */

@media (max-width: 1500px) {
    article {
        background: none;
    }

    .text-box,
    .resize,
    .text-box-sec {
        margin: auto;
        max-width: 740px;

    }

    .img-right {
        display: none;
    }
}

@media (max-width: 1080px) {
    #logo {
        display: none;
    }
}

@media (max-width: 1028px) {
    .menubar {
        display: none;
    }

    #checkbox-menu {
        position: absolute;
        opacity: 0;
    }
    
    #hamburger {
        cursor: pointer;
        position: relative;
        display: block;
        height: 18px;
        width: 30px;
    }
    
    #hamburger .line {
        height: 2px;
        width: 100%;
        background-color: black;
        display: block;
        position: absolute;
        border-radius: 1em;
        transition: 0.25s;
    }
    
    #hamburger .line:nth-child(1) {
        top: 0;
    }
    
    #hamburger .line:nth-child(2) {
        top: 8px;
    }
    
    #hamburger .line:nth-child(3) {
        top: 16px;
    }
    
    #checkbox-menu:checked + #hamburger .line:nth-child(1) {
        transform: rotate(135deg);
        top: 8px;
    }
    
    #checkbox-menu:checked + #hamburger .line:nth-child(2) {
        opacity: 0;
    }
    
    #checkbox-menu:checked + #hamburger .line:nth-child(3) {
        transform: rotate(-135deg);
        top: 8px;
    }
    
}

@media (max-width: 925px) {
    main {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .header {
        padding-left: 25px;
        padding-right: 25px;
    }
}