@media (max-width: 1200px) {
    .padding-page {
        padding-left: 25px;
        padding-right: 25px;
    }

    .text-box,
    .text-box-sec {
        margin: auto;
        max-width: 740px;
    }

    .member-box, .right-flex .member-box {
        -webkit-box-shadow: -5px 5px 4px rgb(0, 0, 0, 25%);
                box-shadow: -5px 5px 4px rgb(0, 0, 0, 25%);
    }

    .members, .members .right-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .background-main {
        background: none;
    }

    .img-aside {
        display: none;
    }
}

@media (max-width: 1024px) {
    #checkbox-menu,
    #hamburger {
        display: block;
    }
    .menubar a {
        margin: 0px;
    }
    .menubar {
        position: absolute;
        top: -100%;
        right: 0;
        height: 65vh;
        width: 100vw;
        background: rgba(154, 129, 243, 0.986);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    #checkbox-menu:checked~.menubar {
        top: 130px;
        -webkit-animation: opacity .2s;
                animation: opacity .2s;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .member-box, .right-flex .member-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        width: 90vw;
        border-radius: 50px;
        -webkit-box-shadow: -5px 5px 4px rgb(0, 0, 0, 25%);
                box-shadow: -5px 5px 4px rgb(0, 0, 0, 25%);
    }

    .member-photo, .right-flex .member-photo {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .social-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .icon, .right-flex .icon {
        margin-right: 0;
        margin-left: 0;
    }
    
    .header {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 480px) {

    .member-box, .right-flex .member-box {
        width: 90vw;
    }

    .member-photo, .right-flex .member-photo {
        width: 220px;
        height: 220px;
    }

    .email {
        -webkit-transform: scale(90%);
            -ms-transform: scale(90%);
                transform: scale(90%);
    }

    .member-name~hr, .right-flex .member-name ~ hr {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .article-img {
        width: 100%;
    }
}

@media (max-width: 425px) { 
    .logo {
        display: none;
    }

    .member-box, .right-flex .member-box {
        margin-bottom: 40px;
    }

}
