@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Mono:wght@700&family=Ubuntu:wght@300;400&display=swap');

/* Layout */

.resize {
    max-width: 1366px;
    margin: auto;
}

.center {
    text-align: center;
}

.right-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

.padding-page {
    padding: 50px;
}

.header {
    background-color: #9177F2;
    padding: 30px 98px;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header .logo {
    margin-right: 20px;
}

#name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: default;
}

.menubar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
}

.menubar a {
    margin-right: 98px;
}

.menubar a:last-child {
    margin: 0;
}

#checkbox-menu {
    cursor: default;
    position: absolute;
    opacity: 0;
    right: 0;
}

#hamburger {
    cursor: pointer;
    position: relative;
    display: block;
    height: 18px;
    width: 30px;
}

#hamburger .line {
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    position: absolute;
    border-radius: 1em;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

#hamburger .line:nth-child(1) {
    top: 0;
}

#hamburger .line:nth-child(2) {
    top: 8px;
}

#hamburger .line:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+#hamburger .line:nth-child(1) {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 8px;
}

#checkbox-menu:checked+#hamburger .line:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+#hamburger .line:nth-child(3) {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: 8px;
}

#checkbox-menu,
#hamburger {
    display: none;
}

.title {
    margin-top: 0px;
    margin-bottom: 20px;
}

.text-box {
    max-width: 740px;
}

.text-box p,
.text-box-sec p {
    margin-top: 15px;
}

.background-main {
    background-image: url(../img/backgrounds/main.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 23vh;
    background-size: 34%;
}

.img-aside {
    width: 300px;
}

.topic:nth-child(0), .topic:nth-child(4) {
    background-color: #9AD0FF;
}

.topic:nth-child(2), .topic:nth-child(6) {
    background-color: #99e4e4;
}

.topic .resize {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-box-sec {
    max-width: 670px;
}

.members {
    margin-top: 50px;
}

.inline-comment::before {
    content: '// '
}

.to-tag::before {
    content: '<';
    margin: 5px;
}

.to-tag::after {
    content: '/>';
    margin: 1px;
}

.multiline-comment::before {
    content: '/* ';
}

.multiline-comment::after {
    content: ' */';
}

/* Formatações Gerais */

.header {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

#name h1 {
    font-weight: 500;
    font-size: 1em;
}

.menubar a {
    font-size: 1em;
    color: #000;
    text-decoration: none;
}

.title,
.subtitle {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    text-transform: uppercase;
}

.title {
    text-align: center;
    font-size: 2em;
}

.subtitle {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 15px;
}

.member-box .member-name {
    font-size: 1.3em;
    font-weight: 400;
}

/* Animações */

.menubar a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.menubar a:hover {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    text-decoration: underline;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@-webkit-keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

#cursor {
    border-right: 3px solid;
    margin-left: 3px;
    -webkit-animation: caret 1s steps(1) infinite;
            animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes caret {
    50% {
        border-color: transparent;
    }
}

.icon:hover {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
}