.member-box {
    box-sizing: border-box;
    cursor: default;
    padding: 45px;
    margin-bottom: 65px;
    background-color: #EBEBEB;
    border-radius: 180px;
    display: inline-flex;
    align-items: center;
    box-shadow: -5px 5px 4px rgb(0, 0, 0, 25%);
}

.right-flex .member-box {
    flex-direction: row-reverse;
    box-shadow: 5px 5px 4px rgb(0, 0, 0, 25%);
    text-align: right;
}

.member-photo {
    display: inline-block;
    width: 270px;
    height: 270px;
    background-color: #3E3E3E;
    border-radius: 50%;
    margin-right: 45px;
}

.right-flex .member-photo {
    margin-right: 0;
    margin-left: 45px;
}

.member-box .member-name {
    margin-bottom: 15px;
    display: inline-block;
}

.member-name~hr {
    width: 325px;
    margin-left: 0;
}

.contact {
    margin-top: 10px;
}

.email {
    margin-bottom: 8px;
    display: inline-block;
}

.social-media a, .social-media a:hover {
    text-decoration: none;
}

.icon {
    width: 50px;
    margin-right: 25px;
    transition: .5s;
}

.right-flex .icon {
    margin-right: 0;
    margin-left: 25px;
}

.right-flex .member-name ~ hr {
    margin-left: auto;
    margin-right: 0;
}